@model TodoItem

<h3>Edit Item</h3>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="IsCompleted"></label>
        <input asp-for="IsCompleted" type="checkbox" class="form-check-input" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>
